{% extends "base.html.j2" %}
{% block title %}
    {% if title %}
        {{ title }} - PNS
    {% else %}
        {{ _('Welcome') }}
    {% endif %}
{% endblock %}
{% block app_content %}
    {% if current_user.is_anonymous %}
        <p>{{ _('Welcome to PNS online store.') }}</p>
    {% else %}
        <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
        <p>{{ _('You are signed in.') }}</p>
    {% endif %}
{% endblock %}
